<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav text-center">
            <li class="p-3 d-lg-block nav-item active text-center">
                <a class="text-muted text-decoration-none">Home</a>
            </li>
            <li class="p-3 d-lg-block nav-item active text-center">
                <a class="text-muted text-decoration-none">Landing Page</a>
            </li>
            <li class="p-3 d-lg-block nav-item active text-center">
                <a class="text-muted text-decoration-none">Comprar</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="row">
        <div class="col">
            <h1><script>"<%= numC %>";</script></h1>
            <h1><script>"<%= numP %>";</script></h1>
            <h1><script>"<%= numF %>";</script></h1>
        </div>
    </div>
</body>
</html>